@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@keyframes slideIn {
    from {
        transform: translateY(300px);
    }

    to {
        transform: translateY(0);
    }
}



html {
    background-image: url(/assets/profile/background.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    cursor: url(/assets/cursor.cur), default;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 640px;
    height: 350px;
    text-align: center;
    background: rgba(00, 00, 00, 0.534);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    border: 1px solid rgba(25, 25, 25, 0.3);
    animation-name: slideIn;
    animation-duration: 1s;
}

.links {
    color: #ffffff;
    text-shadow: 0px 0px 16.5px #f7f7f7;
    font-size: 35px;
    transition: all 0.2s;
    cursor: url(/assets/cursor.cur), default;
}

.links:hover {
    font-size: 40px;
    overflow: unset;
    cursor: url(/assets/cursor.cur), default;
}

.name {
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 16.5px #f7f7f7;
    font-weight: bold;
    transition: all 0.2s;
}

.name:hover {
    font-size: 35px;
    transition: all 0.2s;
}

.desc {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.2s;
}

.desc:hover {
    font-size: 21px;
    transition: all 0.2s;
}

.pfp {
    border-radius: 50px;
    transition: all 0.2s;
}

.pfp:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

#toggleMusic {
    position: fixed;
    top: 10px;
    right: 10px;
}

.audioBtn {
  background: rgba(00, 00, 00, 0.534);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  cursor: url(/assets/cursor.cur), default;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  height: 4rem;
  width: 4rem;
  transition: all 0.2s;
}

.audioBtn:hover {
    background: rgba(99, 99, 99, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: url(/assets/cursor.cur), default;
    height: 5rem;
    font-size: 20px;
    width: 5rem;
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
}